:root {
    --kb-clr-purple-h:    256;
    --kb-clr-purple-s:    82%;
    --kb-clr-purple-l:    55%;
    --kb-clr-purple:      hsl(
                                var(--kb-clr-purple-h),
                                var(--kb-clr-purple-s),
                                var(--kb-clr-purple-l)
                          );

    --kb-clr-crimson-h:    322;
    --kb-clr-crimson-s:    73%;
    --kb-clr-crimson-l:    52%;
    --kb-clr-crimson:      hsl(
                                var(--kb-clr-crimson-h),
                                var(--kb-clr-crimson-s),
                                var(--kb-clr-crimson-l)
                          );

    --kb-clr-green:      hsl(104, 89%, 28%);
    --kb-clr-siena:  hsl(46, 90%, 84%);

}
